/** set color for selectors **/
.tabbed-pane > ul {
	color: blue ;
}

.tabbed-pane > ul > li {
	color:green;
}

.tabbed-pane > div {
	color: violet;
}

.tabbed-pane > div {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

/** set layout **/
.tabbed-pane > ul {
}

.tabbed-pane > ul > li {
	float: left;
	min-width: 50px;
}

.tabbed-pane > div {
	clear:both;
	min-width: 100px;
	max-width: 150px;
	min-height: 100px;
}
