<!-- http://logback.qos.ch/codes.html#layoutInsteadOfEncoder -->
<!-- http://logback.qos.ch/manual/layouts.html#PatternLayout -->
<configuration>
	<!-- definition of appender STDOUT -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- %-4relative - Number of seconds -->
			<!-- [%thread] - Thread -->
			<!-- %-5level -->
			<pattern>%logger:%n      %msg %n</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<!-- appender referenced after it is defined -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
