/** отодвигаем все содержимое от краев окна браузера */
body {
	padding: 5px;
}

/** Добавляем пространство для отображения страниц */
.pages {
	padding: 5px;
}

.pages > ul {
	display: block;
	clear: both;
}

/** Выравниваем заголовки страниц в одну строку */
.pages > ul.tab-titles li {
	display: inline;
	float:left;
}

/** Задаем расстояние от краев для заголовков страниц */
.pages > ul.tab-titles li {
	padding: 5px;
}

/* Рисуем граници заголовков.*/
.pages > ul.tab-titles li {
	border-left: solid 1px black;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	/** Скругляем заголовки меню страниц **/
	border-radius: 0px 7px 0 0;
}
/* Дорисовываем последнюю границу заголовка */
.pages > ul.tab-titles li:last-child {
	border-right: solid 1px black;
}

/** Подсвечиваем заголовки страниц */
.pages > ul.tab-titles li:hover {
	color: green;
	cursor:pointer;
}

/** Отключаем отображение страниц по умолчанию */
.pages > ul.tab-titles ~ div {
	/*
	margin-top: 40px;
	display: none;
	*/
}

/* Размещаем содержимое страницы в новой строке */
.pages > ul.tab-titles ~ div.selected {
	display: block;
	clear: both;
}

/** Все лейблы страницы слева */
.pages > div > label {
	float: left;
	clear: both;
	margin: 3px;
	min-width: 200px;
}

/** все, что не метки на странице - справа */
.pages > div > :not(label) {
	float: left;
	clear: right;
	margin: 3px;
}

input{
	width: 200px;
}

button{
	width: 204px;
}
select{
	width: 204px;
}

.pages > div {
	/* display: none ; */
}
