/target/
/logs/
*/bin/*
**/.classpath
**/.project
**/*.class
**/target/
**/target/**
**/*.swp
**/*.swo
**/*.swn
**/*.settings
ira/tasks
ira/tasks/
/repositories.xml.zip
/tasks/.tasks.xml.zip
/tasks/tasks.xml.zip
/tasks/.repositories.xml.zip
/tasks/repositories.xml.zip
